@import './_variables.scss';

.App{
    @include theme('background', 'color-backgroundTwo');
    height: 100vh;

    @include breakpoint(tablet) {
        height: 90vh;
        max-width: 600px;        
        margin: 2em auto;
        border-width: 1px; 
        border-style: solid; 
        @include theme('border-color', 'color-border');
        border-radius: 4px;
    }

    .header{
        @include theme('background', 'color-backgroundOne');

        & > h1{
            font-size: 1.2em;
            text-align: center;
            @include theme('color', 'color-fontTwo')
        }
//button container to contain three drop down menus with button and checked icons
        .button-container{
            width: 100%;
            display: flex;
            justify-content: space-around;
            @include theme('background', 'color-backgroundMenu');
            padding: 0.2em 0;

            .dropdown{
                position: relative;
//dropdown relative so you can position hidden menu absolute
                .dropdown-content{
                    display: none;
                    position: absolute;
                    left: -15px;
                    min-width: 125px;
                    box-shadow: 0px 2px 4px 0px rgba(0, 168, 232, 0.2);
                    z-index: 1;
                    @include breakpoint(phablet){
                        min-width: 160px;
                        left: -30px;
                    }
                    
                    .menu-item-container{
                        //position every menu item relative so  we can position its child absolute and move it relative to its own parent
                        position: relative;

                        .list-btn{
                            @include theme('color', 'color-fontThree');
                        }
                        
                        .checked-container{
                            position: absolute;
                            left: 5px;
                            top: 8px;
                            @include theme('color', 'color-fontThree');
                            @include breakpoint(phablet){
                                left: 15px;
                            }
                        }
                    }
                    
                    
                    & > div{
                        display: flex;
                        flex-direction: column;
                        
                        & > button{
                            border-radius: 0;
                            @include theme('background', 'color-backgroundMenu');
                            
                            @include on-hover{
                                @include theme('background-color', 'color-backgroundMenuHover')
                            }
                        }
                        
                        & > .check-icon{
                            position: absolute;
                        }
                    }

                }

                .dropdown-content-visible-onclick{
                    display: inline-block;
                }
                
                @include breakpoint(phablet){
                    @include on-hover{
                        .dropdown-content{
                            display: inline-block;
                        }
                    }
                }
            }
        }

        & > form{
//search area
            padding: 0.3em;
            display: grid;
            grid-template-columns: 8fr 2fr 3fr;
            align-items: center;
            justify-items: start;

            @include breakpoint(phablet) {
                padding: 0.3em 2em;
            }

            .search{
                width: 100%;
                height: 100%;
                border-radius: 4px;
                padding: 0.5em;
            }

            .button{
                margin-left: 0.3em;
            }

            .input-container{
//radio button
                font-size: 0.6em;
                @include theme('color', 'color-fontTwo');

                @include breakpoint(phablet){
                    font-size: 0.8em;
                }

                label{
                    position: relative;
                }
                
                input{
                    display: none;
                }

                span{
                    cursor: pointer;
                }

                span::after, span::before{
                    content: '';
                    position: absolute; 
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }

                span::before{
                    left: 30px;
                    width: 45px;
                    height: 25px;
                    @include theme('background-color', 'color-backgroundButtonBlue');
                    border-radius: 50px;
                }

                span::after{
                    left: 33px;
                    width: 17px;
                    height: 17px;
                    border-radius: 10px;
                    @include theme('background-color', 'color-backgroundButtonWhite');
                    transition: left 0.25s;
                }
//transition to move and change color when checked
                input:checked + label > span::after {
                    left: 55px;
                }
            }
        }
    }

    main{
        padding: 0.8em 0.5em;
//active filters
        & > p{
            text-align: center;
            font-size: 0.8em;
            @include theme('color', 'color-fontTwo')
        }
//news list
        & > ul {
            height: 78vh;
            overflow-y: auto;

            @include breakpoint(phablet) {
                height: 74vh;
            }


            .list-item {
                padding: 0.4em;
                margin: 0.2em 0;
                border-radius: 4px;
                height: 5em;
                display: flex;
                justify-content: space-between;
                @include theme('background', 'color-backgroundThree');
                pointer-events: none;
// stop pointer events on parent than enable them on the children where you want it. Than you get the hover effect on the parent when you hover the children.

                @include on-hover{
                    @include theme('background-color', 'color-backgroundListHover')
                }

                .text-container {
                    text-decoration: none;
                    @include theme('color', 'color-fontTwo');
                    flex: 2.75;
                    padding-right: 0.9em;
                    pointer-events: auto;

                    @include breakpoint(phablet){
                        flex: 4;
                    }

                    & > h2 {
                        height: 4em;
                        font-size: 0.9em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    & > p {
                        font-size: 0.6em;
                    }
                }

                .img-container {
                    flex: 1;
                    height: 90%;
                    align-self: center; 
                    position: relative; 
                    
                    .smooth-image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 0 30%;
                        border-radius: 4px;
                        transition: opacity 1s;
                        @include theme('color', 'color-fontTwo');
                        font-size: 0.5em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .image-visible{
                        opacity: 1;
                    }

                    .image-hidden{
                        opacity: 0;
                    }

                    .beforeLoad{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include theme('background-color', 'color-backgroundTwo');
    
                        & > span{
                                @include theme('color', 'color-fontTwo');
                        }
                    }
                }

            }

            & > p {
                text-align: center; 
                font-size: 2em;
                @include theme('color', 'color-fontTwo')
            }

            & > li:nth-child(2n+1){
                @include theme('background-color', 'color-backgroundOne')
            }
        }
//button to load more posts
        .more-posts-btn-container {
            display: flex;
            justify-content: center;
            width: 100%;
            position: absolute;
            left: 0px;
            bottom: 0px;
            height: 0;
            overflow: hidden;
//transition only up and not down otherwise <P> text changes before transition is finished
            transition: height 0s;
            @include breakpoint(phablet){
                bottom: 67px;
            }
        }
        
        .show-btn {
            height: 2.5em;
            transition: height 0.3s;

            .more-posts-btn{
                @include on-hover{
                    background-color: $color-lightred;
                }
                
                span{
                display: inline-block;
                transform: rotate(90deg);
                font-weight: 900;
                }
            }
        }
    }
}

